@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans', Arial, sans-serif;
}
body{
    background-color: #22242a;
}
/* Shared Styles (Main & Image Search) */
/* Nav Links */
nav{
    margin: 1.5rem;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
nav a:hover{
    color: hsl(0, 8%, 69%);
}
/* Main Styling */
.container{
    display: flex;
    justify-content: center;
}
.card .boogle-logo{
    color: white;
    font-size: 5.5rem;
    font-weight: 600;
    margin: 1rem;
}
.card .search-input{
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    transition: all 0.3s ease;
}
.card .search-bar:hover{
    background-color: #656a70;
}
.card .search-bar{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 40px;
    background-color: #4d5156;
    color: white;
    padding-left: 40px;
    outline: none;
    font-size: 1.1rem;
}
.card .icon{
    position: absolute;
    left: 15px;
    width: 18px;
    height: 18px;
}
.card input[type="submit"]{
    background-color: #303134;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 2rem 0.2rem;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card input[type="submit"]:hover{
    border: 1px #5f6368 solid;
}
.card{
    text-align: center;
    width: 50%;
}
/* Image Search Specific Style */
.boogle-img-logo{
    display: inline-block;
    position: relative;
}
.boogle-img-logo .sub-text{
    color: #3a6cc2;
    font-size: 1.1rem;
    position: absolute;
    top: 110px;
    left: 240px;
}